In [1]:
import requests
import json
import pandas as pd

In [20]:
#url = 'http://localhost:5001/sales?count=10'

url = 'http://sales-data-server:5001/sales?count=10'

url = 'http://mystifying_galileo:5001/sales?count=10'

In [21]:
response = requests.get(url)

In [22]:
response.status_code

200

In [23]:
df = pd.DataFrame(json.loads(response.content))

In [24]:
df.head()

,category,customer_id,customer_name,payment_method,price,product_id,product_name,quantity,region,sale_date,sales_id,total_amount
0,Electronics,1,Alice,Gift Card,500.0,3,Tablet,1,North,2024-12-31 13:59:43,6314,500.0
1,Electronics,1,Alice,PayPal,500.0,3,Tablet,1,North,2024-12-31 13:59:43,9910,500.0
2,Accessories,2,Bob,Credit Card,300.0,4,Monitor,4,South,2024-12-31 13:59:43,1016,1200.0
3,Accessories,3,Charlie,PayPal,300.0,4,Monitor,3,East,2024-12-31 13:59:43,1520,900.0
4,Electronics,4,Diana,Gift Card,500.0,3,Tablet,3,West,2024-12-31 13:59:43,5060,1500.0