In [1]:
import requests
import json
import pandas as pd

In [25]:
#url = 'http://localhost:5001/sales?count=10'

url = 'http://sales-data-server:5001/sales?count=10'

url = 'http://mystifying_galileo:5001/sales?count=10'

In [26]:
response = requests.get(url)

In [27]:
response.status_code

200

In [31]:
json.loads(response.content)

[{'category': 'Electronics',
  'customer_id': 1,
  'customer_name': 'Alice',
  'payment_method': 'PayPal',
  'price': 1200.0,
  'product_id': 1,
  'product_name': 'Laptop',
  'quantity': 3,
  'region': 'North',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 7259,
  'total_amount': 3600.0},
 {'category': 'Electronics',
  'customer_id': 2,
  'customer_name': 'Bob',
  'payment_method': 'PayPal',
  'price': 500.0,
  'product_id': 3,
  'product_name': 'Tablet',
  'quantity': 4,
  'region': 'South',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 3602,
  'total_amount': 2000.0},
 {'category': 'Electronics',
  'customer_id': 4,
  'customer_name': 'Diana',
  'payment_method': 'Gift Card',
  'price': 1200.0,
  'product_id': 1,
  'product_name': 'Laptop',
  'quantity': 4,
  'region': 'West',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 5956,
  'total_amount': 4800.0},
 {'category': 'Accessories',
  'customer_id': 1,
  'customer_name': 'Alice',
  'payment_method': 'Gift Card',
  'price': 300.0,
  'product_id': 4,
  'product_name': 'Monitor',
  'quantity': 1,
  'region': 'North',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 2815,
  'total_amount': 300.0},
 {'category': 'Electronics',
  'customer_id': 2,
  'customer_name': 'Bob',
  'payment_method': 'Credit Card',
  'price': 800.0,
  'product_id': 2,
  'product_name': 'Smartphone',
  'quantity': 3,
  'region': 'South',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 2749,
  'total_amount': 2400.0},
 {'category': 'Electronics',
  'customer_id': 3,
  'customer_name': 'Charlie',
  'payment_method': 'Debit Card',
  'price': 500.0,
  'product_id': 3,
  'product_name': 'Tablet',
  'quantity': 3,
  'region': 'East',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 3602,
  'total_amount': 1500.0},
 {'category': 'Electronics',
  'customer_id': 4,
  'customer_name': 'Diana',
  'payment_method': 'Gift Card',
  'price': 1200.0,
  'product_id': 1,
  'product_name': 'Laptop',
  'quantity': 1,
  'region': 'West',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 5860,
  'total_amount': 1200.0},
 {'category': 'Electronics',
  'customer_id': 4,
  'customer_name': 'Diana',
  'payment_method': 'PayPal',
  'price': 500.0,
  'product_id': 3,
  'product_name': 'Tablet',
  'quantity': 1,
  'region': 'West',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 7235,
  'total_amount': 500.0},
 {'category': 'Accessories',
  'customer_id': 2,
  'customer_name': 'Bob',
  'payment_method': 'Gift Card',
  'price': 300.0,
  'product_id': 4,
  'product_name': 'Monitor',
  'quantity': 5,
  'region': 'South',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 2573,
  'total_amount': 1500.0},
 {'category': 'Electronics',
  'customer_id': 4,
  'customer_name': 'Diana',
  'payment_method': 'PayPal',
  'price': 1200.0,
  'product_id': 1,
  'product_name': 'Laptop',
  'quantity': 2,
  'region': 'West',
  'sale_date': '2024-12-31 14:06:18',
  'sales_id': 5996,
  'total_amount': 2400.0}]

In [28]:
df = pd.DataFrame(json.loads(response.content))

In [29]:
df.head()

,category,customer_id,customer_name,payment_method,price,product_id,product_name,quantity,region,sale_date,sales_id,total_amount
0,Electronics,1,Alice,PayPal,1200.0,1,Laptop,3,North,2024-12-31 14:06:18,7259,3600.0
1,Electronics,2,Bob,PayPal,500.0,3,Tablet,4,South,2024-12-31 14:06:18,3602,2000.0
2,Electronics,4,Diana,Gift Card,1200.0,1,Laptop,4,West,2024-12-31 14:06:18,5956,4800.0
3,Accessories,1,Alice,Gift Card,300.0,4,Monitor,1,North,2024-12-31 14:06:18,2815,300.0
4,Electronics,2,Bob,Credit Card,800.0,2,Smartphone,3,South,2024-12-31 14:06:18,2749,2400.0